body {
background-color: #f1eca1;
color: #333333;
font-family: Arial, sans-serif;
margin: 20px;
text-align: center;
}
header { background-color: #f5f5f7;
padding: 20px;
border-radius: 20px;
text-align: center;
}
nav { margin: 15px 0; }
main{
padding: 20px;
border: 1px solid #af8ffa;
border-radius: 20px;
}
footer {
margin-top: 20px; border-top: 1px solid #000000;
padding: 10px; }
 img {
border-radius: 20px;
width: 750px;
display: block;
margin: 0 auto;
}